<!DOCTYPE html>
<html>

<head>
    <title>ISO Risk Evaluation Software</title>
    <%- include('library.ejs') -%>
</head>

<body>
    <%- include('menu.ejs') -%>

        <br>
        </br>
        <br>
        </br>

        <div class="container-fluid">
            <br />
            <h2 class="text-center">
                <%= data.name  %>
            </h2>
            <input type="text" id="area" value="<%= data._id  %>" hidden disabled>
            <br />
            <div class="table-responsive">
                <table class="table table-bordered" id="crud_table">
                    <thead class="thead-dark">
                        <tr>
                            <th rowspan="2" width="25%" class="text-center">Activity Name</th>
                            <th rowspan="2">Activity Type</th>
                            <th rowspan="2">Activity Location</th>
                            <th colspan="5" class="text-center">Activity Operation</th>
                            <th colspan="5" class="text-center">Activity Effect</th>
                            <th rowspan="2" class="text-center"><button type="button" name="add" id="add" class="btn btn-success btn-xs">+</button></th>
                        </tr>
                        <tr>
                            <th class="text-center">staff</th>
                            <th class="text-center">vendor</th>
                            <th class="text-center">customer</th>
                            <th class="text-center">community</th>
                            <th class="text-center">etc</th>
                            <th class="text-center">staff</th>
                            <th class="text-center">vendor</th>
                            <th class="text-center">customer</th>
                            <th class="text-center">community</th>
                            <th class="text-center">etc</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td contenteditable="true" class="activity_name"></td>
                            <td><select class="form-control activity_type">
                            <option value="routine">routine</option>
                            <option value="non-routine">non-routine</option>
                          </select></td>
                            <td><select class="form-control activity_location">
                            <option value="inside">inside</option>
                            <option value="outside">outside</option>
                          </select></td>
                            <td><input class="form-check-inline activity_op_staff" type="checkbox" value="true"></td>
                            <td><input class="form-check-inline activity_op_vendor" type="checkbox" value="true"></td>
                            <td><input class="form-check-inline activity_op_customer" type="checkbox" value="true"></td>
                            <td><input class="form-check-inline activity_op_community" type="checkbox" value="true"></td>
                            <td contenteditable="true" class="activity_op_etc"></td>
                            <td><input class="form-check-inline activity_ef_staff" type="checkbox" value="true"></td>
                            <td><input class="form-check-inline activity_ef_vendor" type="checkbox" value="true"></td>
                            <td><input class="form-check-inline activity_ef_customer" type="checkbox" value="true"></td>
                            <td><input class="form-check-inline activity_ef_community" type="checkbox" value="true"></td>
                            <td contenteditable="true" class="activity_ef_etc"></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <button type="button" name="save" id="save" class="btn btn-info">Save</button>
                </div>
                <br />
                <div id="inserted_item_data"></div>
            </div>
        </div>
</body>

</html>

<script>
    $(document).ready(function() {
        var count = 1;
        $('#add').click(function() {
            count = count + 1;
            var html_code = "<tr id='row" + count + "'>";
            html_code += "<td contenteditable='true' class='activity_name'></td>";
            html_code += "<td><select class='form-control activity_type'><option value='routine'>routine</option><option value='non-routine'>non-routine</option></select></td>";
            html_code += "<td><select class='form-control activity_location'><option value='inside'>inside</option><option value='outside'>outside</option></select></td>";
            html_code += "<td><input class='form-check-inline activity_op_staff' type='checkbox' value='true'></td>";
            html_code += "<td><input class='form-check-inline activity_op_vendor' type='checkbox' value='true'></td>";
            html_code += "<td><input class='form-check-inline activity_op_customer' type='checkbox' value='true'></td>";
            html_code += "<td><input class='form-check-inline activity_op_community' type='checkbox' value='true'></td>";
            html_code += "<td contenteditable='true' class='activity_op_etc'></td>";
            html_code += "<td><input class='form-check-inline activity_ef_staff' type='checkbox' value='true'></td>";
            html_code += "<td><input class='form-check-inline activity_ef_vendor' type='checkbox' value='true'></td>";
            html_code += "<td><input class='form-check-inline activity_ef_customer' type='checkbox' value='true'></td>";
            html_code += "<td><input class='form-check-inline activity_ef_community' type='checkbox' value='true'></td>";
            html_code += "<td contenteditable='true' class='activity_ef_etc'></td>";
            html_code += "<td><button type='button' name='remove' data-row='row" + count + "' class='btn btn-danger btn-xs remove'>-</button></td>";
            html_code += "</tr>";
            $('#crud_table').append(html_code);
        });

        $(document).on('click', '.remove', function() {
            var delete_row = $(this).data("row");
            $('#' + delete_row).remove();
        });

        $('#save').click(function() {
            alert('save activity');
            var area_id = $('#area').val();
            var activity_name = [];
            var activity_type = [];
            var activity_location = [];
            var activity_op_staff = [];
            var activity_op_vendor = [];
            var activity_op_customer = [];
            var activity_op_community = [];
            var activity_op_etc = [];
            var activity_op_etc_en = [];
            var activity_ef_staff = [];
            var activity_ef_vendor = [];
            var activity_ef_customer = [];
            var activity_ef_community = [];
            var activity_ef_etc = [];
            var activity_ef_etc_en = [];
            $('.activity_name').each(function() {
                activity_name.push($(this).text());
            });
            $('.activity_type').each(function() {
                activity_type.push($(this).val());
            });
            $('.activity_location').each(function() {
                activity_location.push($(this).val());
            });
            $('.activity_op_staff').each(function() {
                if ($(this).is(":checked"))
                    activity_op_staff.push($(this).val());
                else
                    activity_op_staff.push('false');
            });
            $('.activity_op_vendor').each(function() {
                if ($(this).is(":checked"))
                    activity_op_vendor.push($(this).val());
                else
                    activity_op_vendor.push('false');
            });
            $('.activity_op_customer').each(function() {
                if ($(this).is(":checked"))
                    activity_op_customer.push($(this).val());
                else
                    activity_op_customer.push('false');
            });
            $('.activity_op_community').each(function() {
                if ($(this).is(":checked"))
                    activity_op_community.push($(this).val());
                else
                    activity_op_community.push('false');
            });
            $('.activity_op_etc').each(function() {
                if ($(this).text() == "") {
                    activity_op_etc_en.push('false');
                    activity_op_etc.push($(this).text());
                } else {
                    activity_op_etc_en.push('true');
                    activity_op_etc.push($(this).text());
                }
            });
            $('.activity_ef_staff').each(function() {
                if ($(this).is(":checked"))
                    activity_ef_staff.push($(this).val());
                else
                    activity_ef_staff.push('false');
            });
            $('.activity_ef_vendor').each(function() {
                if ($(this).is(":checked"))
                    activity_ef_vendor.push($(this).val());
                else
                    activity_ef_vendor.push('false');
            });
            $('.activity_ef_customer').each(function() {
                if ($(this).is(":checked"))
                    activity_ef_customer.push($(this).val());
                else
                    activity_ef_customer.push('false');
            });
            $('.activity_ef_community').each(function() {
                if ($(this).is(":checked"))
                    activity_ef_community.push($(this).val());
                else
                    activity_ef_community.push('false');
            });
            $('.activity_ef_etc').each(function() {
                if ($(this).text() == "") {
                    activity_ef_etc_en.push('false');
                    activity_ef_etc.push($(this).text());
                } else {
                    activity_ef_etc_en.push('true');
                    activity_ef_etc.push($(this).text());
                }
            });
            var activity = [{}];
            for (let index = 0; index < activity_name.length; index++) {
                activity[index] = {
                    name: activity_name[index],
                    activityType: activity_type[index],
                    location: activity_location[index],
                    operation: {
                        staff: activity_op_staff[index],
                        vendor: activity_op_vendor[index],
                        customer: activity_op_customer[index],
                        community: activity_op_community[index],
                        etc: {
                            enable: activity_op_etc_en[index],
                            detail: activity_op_etc[index]
                        }
                    },
                    effect: {
                        staff: activity_ef_staff[index],
                        vendor: activity_ef_vendor[index],
                        customer: activity_ef_customer[index],
                        community: activity_ef_community[index],
                        etc: {
                            enable: activity_ef_etc_en[index],
                            detail: activity_ef_etc[index]
                        }
                    }
                };
            }
            var data = {
                area: area_id,
                activity
            };
            $.ajax({
                url: "/company-structure/company/department/area/" + area_id + "/activity/create",
                method: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function(data) {
                    alert(data);
                    $("td[contentEditable='true']").text("");
                    for (var i = 2; i <= count; i++) {
                        $('#row' + i + '').remove();
                    }
                    fetch_item_data();
                }
            });
        });

        $(document).on('click', '.deleteActivity', function() {
            var acitivity_id = $(this).data("id");
            var area_id = $('#area').val();

            var data = {
                area: area_id,
                activity: acitivity_id
            };

            alert('delete ' + acitivity_id);

            $.ajax({
                url: "/company-structure/company/department/area/" + area_id + "/activity/delete",
                method: "DELETE",
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function(data) {
                    alert(data);
                    fetch_item_data();
                }
            });
        });

        function fetch_item_data() {
            var area_id = $('#area').val();
            $.ajax({
                url: "/company-structure/company/department/area/" + area_id + "/activity",
                method: "GET",
                success: function(data) {
                    $('#inserted_item_data').html(data);
                }
            })
        }
        fetch_item_data();

    });
</script>