<!DOCTYPE html>
<html>

<head>
    <title>ISO Risk Evaluation Software</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        #table {
            margin: auto;
            max-width: auto;
            align-items: center;
            border: 1px solid #9C9C9C;
            background-color: #ffffff;
        }
    </style>
</head>

<body>
    <%- include('header.ejs') -%>

        <br>
        </br>
        <br>
        </br>

        <div class="container">
            <br />
            <h2 align="center">
                <%= data.name  %>
            </h2>
            <input type="text" id="department" value="<%= data._id  %>" hidden disabled>
            <br />
            <div class="table-responsive">
                <table class="table table-bordered" id="crud_table">
                    <tr>
                        <th>Area Name</th>
                        <th>Area Type</th>
                        <th><button type="button" name="add" id="add" class="btn btn-success btn-xs">+</button></th>
                    </tr>
                    <tr>
                        <td contenteditable="true" class="area_name"></td>
                        <td><select class="form-control area_type">
                            <option value="inside">inside</option>
                            <option value="outside">outside</option>
                          </select></td>
                        <td></td>
                    </tr>
                </table>
                <div align="center">
                    <button type="button" name="save" id="save" class="btn btn-info">Save</button>
                </div>
                <br />
                <div id="inserted_item_data"></div>
            </div>
        </div>
</body>

</html>

<script>
    $(document).ready(function() {
        var count = 1;
        $('#add').click(function() {
            count = count + 1;
            var html_code = "<tr id='row" + count + "'>";
            html_code += "<td contenteditable='true' class='area_name'></td>";
            html_code += "<td contenteditable='true' ><select class='form-control area_type'><option value='inside'>inside</option><option value='outside'>outside</option></select></td>";
            html_code += "<td><button type='button' name='remove' data-row='row" + count + "' class='btn btn-danger btn-xs remove'>-</button></td>";
            html_code += "</tr>";
            $('#crud_table').append(html_code);
        });

        $(document).on('click', '.remove', function() {
            var delete_row = $(this).data("row");
            $('#' + delete_row).remove();
        });

        $('#save').click(function() {
            var department_id = $('#department').val();
            var area_name = [];
            var area_type = [];
            $('.area_name').each(function() {
                area_name.push($(this).text());
            });
            $('.area_type').each(function() {
                area_type.push($(this).val());
            });
            var areas = [{}];
            for (let index = 0; index < area_name.length; index++) {
                areas[index] = {
                    name: area_name[index],
                    areaType: area_type[index]
                };
            }
            alert('Create new Area');
            var data = {
                department: department_id,
                areas
            };
            $.ajax({
                url: "/company-structure/company/department/" + department_id + "/area/create",
                method: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function(data) {
                    alert(data);
                    $("td[contentEditable='true']").text("");
                    for (var i = 2; i <= count; i++) {
                        $('#row' + i + '').remove();
                    }
                    fetch_item_data();
                }
            });
        });

        $(document).on('click', '.deleteDepartment', function() {
            var department_id = $(this).data("id");
            var company_id = $('#company').val();

            var data = {
                company: company_id,
                department: department_id
            };

            alert('delete ' + department_id);

            $.ajax({
                url: "/company-structure/company/department/delete",
                method: "DELETE",
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function(data) {
                    alert(data);
                    fetch_item_data();
                }
            });
        });

        $(document).on('click', '.areaLink', function() {
            var department_id = $(this).data("id");
            alert('areaLink ' + department_id);
        });

        function fetch_item_data() {
            var department_id = $('#department').val();
            $.ajax({
                url: "/company-structure/company/department/" + department_id + "/area",
                method: "GET",
                success: function(data) {
                    $('#inserted_item_data').html(data);
                }
            })
        }
        fetch_item_data();

    });
</script>