<!DOCTYPE html>
<html>

<head>
    <title>ISO Risk Evaluation Software</title>
    <%- include('library.ejs') -%>
</head>

<body>
    <%- include('menu'); -%>

        <br>
        </br>
        <br>
        </br>

        <div class="container-fluid">
            <a href="/work/create/1" class="btn btn-primary btn-xs "><b>+</b>เพิ่มทะเบียนงานใหม่</a>
            <br></br>

            <div id="inserted_item_data"></div>

        </div>

</body>

</html>

<script>
    $(document).ready(function() {
        $(document).on('click', '.deleteWork', function() {
            var work_id = $(this).data("id");

            var data = {
                work: work_id
            };

            alert('delete ' + work_id);

            $.ajax({
                url: "/home/work/delete",
                method: "DELETE",
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function(data) {
                    alert(data);
                    fetch_item_data();
                }
            });
        });

        function fetch_item_data() {
            $.ajax({
                url: "/home/work",
                method: "GET",
                success: function(data) {
                    $('#inserted_item_data').html(data);
                }
            })
        }
        fetch_item_data();

    });
</script>