<!DOCTYPE html>
<html>

<head>
    <title>ISO Risk Evaluation Software</title>
    <%- include('library.ejs') -%>
</head>

<body>

    <h3 class="text-center pt-5">
        <%= data.pageName %>
    </h3>
    <div class="container">
        <form action="/login" method="POST">
            <div class="<%= data.class%>">
                <%= data.message %>
            </div>
            <div class="form-group">
                <label for="username" class="text-info">Username:</label><br>
                <input type="text" name="username" id="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password" class="text-info">Password:</label><br>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-lg btn-primary">Login</button>
            </div>
        </form>
    </div>

</body>

</html>