<!DOCTYPE html>
<html>

<head>
    <title>ISO Risk Evaluation Software</title>
    <%- include('library.ejs') -%>
</head>

<body>
    <%- include('menu.ejs') -%>
        <br>
        </br>
        <br>
        </br>
        <div id="login">
            <h3 class="text-center pt-5">
                <%= data.pageName %>
            </h3>
            <div class="container">
                <p></p>

                <div class="form-group">
                    <label for="username" class="text-info">ชื่อทะเบียนงาน:</label><br>
                    <input type="text" name="username" id="username" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label for="password" class="text-info">ชื่อผู้จัดทำ:</label><br>
                    <input type="text" name="password" id="password" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label for="company" class="text-info">บริษัท:</label><br>
                    <input type="text" name="company" id="company" placeholder="company 1" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label for="department" class="text-info">หน่วยงาน:</label><br>
                    <input type="text" name="department" id="department" placeholder="department 1" class="form-control" disabled>
                </div>
            </div>
            <br></br>
            <div class="container">
                <center>
                    <h3 class="text-center pt-5">
                        กิจกรรมในพื้นที่ภายใน
                    </h3>
                </center>
                <br></br>
                <h4>Inside 1</h4>
                <p></p>

                <div id="table" class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th>กิจกรรม</th>
                                <th>ลักษณะงาน</th>
                                <th>พื้นที่ปฏิบัติงาน</th>
                                <th>ผู้รับผิดชอบ</th>
                                <th>ผู้ได้รับผลกระทบ</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" value="">
                                    <label class="form-check-label">กิจกรรม 1</label>
                                </div>
                            </td>
                            <td>งานประจำ</td>
                            <td>ภายใน</td>
                            <td>Staff</td>
                            <td>Staff</td>
                        </tr>
                    </table>
                </div>



                <br></br>
                <h4>Inside 2</h4>
                <p></p>

                <div id="table" class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th>กิจกรรม</th>
                                <th>ลักษณะงาน</th>
                                <th>พื้นที่ปฏิบัติงาน</th>
                                <th>ผู้รับผิดชอบ</th>
                                <th>ผู้ได้รับผลกระทบ</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" value="">
                                    <label class="form-check-label">กิจกรรม 2</label>
                                </div>
                            </td>
                            <td>งานประจำ</td>
                            <td>ภายใน</td>
                            <td>Staff</td>
                            <td>Staff</td>
                        </tr>
                    </table>
                </div>

                <br></br>
                <h4>Inside 3</h4>
                <p></p>

                <div id="table" class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th>กิจกรรม</th>
                                <th>ลักษณะงาน</th>
                                <th>พื้นที่ปฏิบัติงาน</th>
                                <th>ผู้รับผิดชอบ</th>
                                <th>ผู้ได้รับผลกระทบ</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" value="">
                                    <label class="form-check-label">กิจกรรม 2</label>
                                </div>
                            </td>
                            <td>งานประจำ</td>
                            <td>ภายใน</td>
                            <td>Staff</td>
                            <td>Staff</td>
                        </tr>
                    </table>
                </div>


            </div>
            <br></br>
            <div class="container">
                <center>
                    <h3 class="text-center pt-5">
                        กิจกรรมในพื้นที่ภายนอก
                    </h3>
                </center>
                <br></br>
                <h4>Outside 1</h4>
                <p></p>

                <div id="table" class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th>กิจกรรม</th>
                                <th>ลักษณะงาน</th>
                                <th>พื้นที่ปฏิบัติงาน</th>
                                <th>ผู้รับผิดชอบ</th>
                                <th>ผู้ได้รับผลกระทบ</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" value="">
                                    <label class="form-check-label">กิจกรรม 1</label>
                                </div>
                            </td>
                            <td>งานประจำ</td>
                            <td>ภายใน</td>
                            <td>Staff</td>
                            <td>Staff</td>
                        </tr>
                    </table>
                </div>



                <br></br>
                <h4>Outside 2</h4>
                <p></p>

                <div id="table" class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th>กิจกรรม</th>
                                <th>ลักษณะงาน</th>
                                <th>พื้นที่ปฏิบัติงาน</th>
                                <th>ผู้รับผิดชอบ</th>
                                <th>ผู้ได้รับผลกระทบ</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" value="">
                                    <label class="form-check-label">กิจกรรม 2</label>
                                </div>
                            </td>
                            <td>งานประจำ</td>
                            <td>ภายใน</td>
                            <td>Staff</td>
                            <td>Staff</td>
                        </tr>
                    </table>
                </div>




            </div>
            <br></br>
        </div>
</body>

</html>