<!DOCTYPE html>
<html>

<head>
    <title>ISO Risk Evaluation Software</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .container {
            margin-top: auto;
            max-width: auto;
            align-items: center;
            border: 1px solid #9C9C9C;
            background-color: #ffffff;
        }
    </style>
</head>

<body>
    <%- include('header.ejs') -%>
        <br>
        </br>
        <br>
        </br>
        <div id="login">
            <h3 class="text-center pt-5">
                <%= data.pageName %>
            </h3>
            <div class="container">
                <p></p>
                <form id="login-form" class="form" action="" method="post">
                    <div class="form-group">
                        <label for="username" class="text-info">ชื่อทะเบียนงาน:</label><br>
                        <input type="text" name="username" id="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password" class="text-info">ชื่อผู้จัดทำ:</label><br>
                        <input type="text" name="password" id="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="company" class="text-info">บริษัท:</label><br>
                        <select name="company" id="company" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="department" class="text-info">หน่วยงาน:</label><br>
                        <select name="department" id="department" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                    </div>
                </form>

            </div>
        </div>
</body>

</html>