<!DOCTYPE html>
<html>

<head>
    <title>ISO Risk Evaluation Software</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .container {
            margin-top: auto;
            max-width: auto;
            align-items: center;
            border: 1px solid #9C9C9C;
            background-color: #ffffff;
        }
    </style>
</head>

<body>
    <%- include('header.ejs') -%>
        <br>
        </br>
        <br>
        </br>
        <div id="login">
            <h3 class="text-center pt-5">
                <%= data.pageName %>
            </h3>
            <div class="container">
                <p></p>
                <div class="form-group">
                    <label for="username" class="text-info">ชื่อทะเบียนงาน:</label><br>
                    <input type="text" name="username" id="username" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label for="password" class="text-info">ชื่อผู้จัดทำ:</label><br>
                    <input type="text" name="password" id="password" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label for="company" class="text-info">บริษัท:</label><br>
                    <input type="text" name="company" id="company" placeholder="company 1" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label for="department" class="text-info">หน่วยงาน:</label><br>
                    <input type="text" name="department" id="department" placeholder="department 1" class="form-control" disabled>
                </div>

                <div class="form-group">
                    <label for="number" class="text-info">ครั้งที่:</label><br>
                    <input type="text" name="number" id="number" class="form-control" placeholder="1" disabled>
                </div>
                <div class="form-group">
                    <label for="date" class="text-info">ชื่อผู้ประเมิน:</label><br>
                    <input type="text" name="date" id="date" class="form-control" placeholder="admin" disabled>
                </div>
                <div class="form-group">
                    <label for="company" class="text-info">บริษัท:</label><br>
                    <select name="company" id="company" class="form-control" placeholder="ประจำปี" disabled>
                            <option>ประจำปี</option>
                            <option>ก่อน</option>
                            <option>ระหว่าง</option>
                            <option>หลัง</option>
                            <option>อุบัติการณ์</option>
                        </select>
                </div>
            </div>
            <br></br>
            <div class="container">
                <center>
                    <h3 class="text-center pt-5">
                        การประเมินความเสี่ยงด้านสิ่งแวดล้อมในพื้นที่ของพื้นที่ภายใน
                    </h3>
                </center>
                <br></br>
                <h4>Inside 1</h4>
                <p></p>
                <div id="table" class="table-responsive">
                    <table class="table table-striped " id="dynamic_field">
                        <thead>
                            <tr>

                                <th rowspan="2">ประเด็นความเสี่ยง</th>
                                <th colspan="5">
                                    <center>โอกาส</center>
                                </th>
                                <th colspan="2">
                                    <center>ความรุนแรง</center>
                                </th>
                                <th>ผลการประเมิน</th>
                            </tr>
                            <tr>

                                <th>
                                    <center>P1</center>
                                </th>
                                <th>
                                    <center>P2</center>
                                </th>
                                <th>
                                    <center>P3</center>
                                </th>
                                <th>
                                    <center>P4</center>
                                </th>
                                <th>
                                    <center>P5</center>
                                </th>
                                <th>
                                    <center>R1</center>
                                </th>
                                <th>
                                    <center>R2</center>
                                </th>
                            </tr>
                        </thead>
                        <tr>

                            <td>
                                <label class="form-check-label">กิจกรรม 1</label>
                            </td>
                            <td>งานประจำ</td>
                            <td>ภายใน</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>ผลการประเมิน</td>
                        </tr>
                    </table>
                </div>



                <br></br>
                <h4>Inside 2</h4>
                <p></p>

                <div id="table" class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>

                                <th rowspan="2">ประเด็นความเสี่ยง</th>
                                <th colspan="5">
                                    <center>โอกาส</center>
                                </th>
                                <th colspan="2">
                                    <center>ความรุนแรง</center>
                                </th>
                                <th>ผลการประเมิน</th>
                            </tr>
                            <tr>

                                <th>
                                    <center>P1</center>
                                </th>
                                <th>
                                    <center>P2</center>
                                </th>
                                <th>
                                    <center>P3</center>
                                </th>
                                <th>
                                    <center>P4</center>
                                </th>
                                <th>
                                    <center>P5</center>
                                </th>
                                <th>
                                    <center>R1</center>
                                </th>
                                <th>
                                    <center>R2</center>
                                </th>
                            </tr>
                        </thead>
                        <tr>

                            <td>
                                <label class="form-check-label">กิจกรรม 1</label>
                            </td>
                            <td>งานประจำ</td>
                            <td>ภายใน</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>ผลการประเมิน</td>
                        </tr>
                    </table>
                </div>

                <br></br>
                <h4>Inside 3</h4>
                <p></p>

                <div id="table" class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>

                                <th rowspan="2">ประเด็นความเสี่ยง</th>
                                <th colspan="5">
                                    <center>โอกาส</center>
                                </th>
                                <th colspan="2">
                                    <center>ความรุนแรง</center>
                                </th>
                                <th>ผลการประเมิน</th>
                            </tr>
                            <tr>

                                <th>
                                    <center>P1</center>
                                </th>
                                <th>
                                    <center>P2</center>
                                </th>
                                <th>
                                    <center>P3</center>
                                </th>
                                <th>
                                    <center>P4</center>
                                </th>
                                <th>
                                    <center>P5</center>
                                </th>
                                <th>
                                    <center>R1</center>
                                </th>
                                <th>
                                    <center>R2</center>
                                </th>
                            </tr>
                        </thead>
                        <tr>

                            <td>
                                <label class="form-check-label">กิจกรรม 1</label>
                            </td>
                            <td>งานประจำ</td>
                            <td>ภายใน</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>ผลการประเมิน</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br></br>
            <div class="container">
                <center>
                    <h3 class="text-center pt-5">
                        การประเมินความเสี่ยงด้านสิ่งแวดล้อมในพื้นที่ของพื้นที่ภายนอก
                    </h3>
                </center>
                <br></br>
                <h4>Inside 1</h4>
                <p></p>
                <div id="table" class="table-responsive">
                    <table class="table table-striped " id="dynamic_field">
                        <thead>
                            <tr>

                                <th rowspan="2">ประเด็นความเสี่ยง</th>
                                <th colspan="5">
                                    <center>โอกาส</center>
                                </th>
                                <th colspan="2">
                                    <center>ความรุนแรง</center>
                                </th>
                                <th>ผลการประเมิน</th>
                            </tr>
                            <tr>

                                <th>
                                    <center>P1</center>
                                </th>
                                <th>
                                    <center>P2</center>
                                </th>
                                <th>
                                    <center>P3</center>
                                </th>
                                <th>
                                    <center>P4</center>
                                </th>
                                <th>
                                    <center>P5</center>
                                </th>
                                <th>
                                    <center>R1</center>
                                </th>
                                <th>
                                    <center>R2</center>
                                </th>
                            </tr>
                        </thead>
                        <tr>

                            <td>
                                <label class="form-check-label">กิจกรรม 1</label>
                            </td>
                            <td>งานประจำ</td>
                            <td>ภายใน</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>ผลการประเมิน</td>
                        </tr>
                    </table>
                </div>



                <br></br>
                <h4>Inside 2</h4>
                <p></p>

                <div id="table" class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>

                                <th rowspan="2">ประเด็นความเสี่ยง</th>
                                <th colspan="5">
                                    <center>โอกาส</center>
                                </th>
                                <th colspan="2">
                                    <center>ความรุนแรง</center>
                                </th>
                                <th>ผลการประเมิน</th>
                            </tr>
                            <tr>

                                <th>
                                    <center>P1</center>
                                </th>
                                <th>
                                    <center>P2</center>
                                </th>
                                <th>
                                    <center>P3</center>
                                </th>
                                <th>
                                    <center>P4</center>
                                </th>
                                <th>
                                    <center>P5</center>
                                </th>
                                <th>
                                    <center>R1</center>
                                </th>
                                <th>
                                    <center>R2</center>
                                </th>
                            </tr>
                        </thead>
                        <tr>

                            <td>
                                <label class="form-check-label">กิจกรรม 1</label>
                            </td>
                            <td>งานประจำ</td>
                            <td>ภายใน</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>ผลการประเมิน</td>
                        </tr>
                    </table>
                </div>

                <br></br>
                <h4>Inside 3</h4>
                <p></p>

                <div id="table" class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>

                                <th rowspan="2">ประเด็นความเสี่ยง</th>
                                <th colspan="5">
                                    <center>โอกาส</center>
                                </th>
                                <th colspan="2">
                                    <center>ความรุนแรง</center>
                                </th>
                                <th>ผลการประเมิน</th>
                            </tr>
                            <tr>

                                <th>
                                    <center>P1</center>
                                </th>
                                <th>
                                    <center>P2</center>
                                </th>
                                <th>
                                    <center>P3</center>
                                </th>
                                <th>
                                    <center>P4</center>
                                </th>
                                <th>
                                    <center>P5</center>
                                </th>
                                <th>
                                    <center>R1</center>
                                </th>
                                <th>
                                    <center>R2</center>
                                </th>
                            </tr>
                        </thead>
                        <tr>

                            <td>
                                <label class="form-check-label">กิจกรรม 1</label>
                            </td>
                            <td>งานประจำ</td>
                            <td>ภายใน</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>ผลการประเมิน</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br></br>

            <div class="container">
                <center>
                    <h3 class="text-center pt-5">
                        การประเมินความเสี่ยงด้านสิ่งแวดล้อมในกิจกรรมของพื้นที่ภายใน
                    </h3>
                </center>
                <br></br>
                <h4>Inside 1</h4>
                <p></p>
                <div id="table" class="table-responsive">
                    <table class="table table-striped " id="dynamic_field">
                        <thead>
                            <tr>

                                <th rowspan="2">ประเด็นความเสี่ยง</th>
                                <th colspan="5">
                                    <center>โอกาส</center>
                                </th>
                                <th colspan="2">
                                    <center>ความรุนแรง</center>
                                </th>
                                <th>ผลการประเมิน</th>
                            </tr>
                            <tr>

                                <th>
                                    <center>P1</center>
                                </th>
                                <th>
                                    <center>P2</center>
                                </th>
                                <th>
                                    <center>P3</center>
                                </th>
                                <th>
                                    <center>P4</center>
                                </th>
                                <th>
                                    <center>P5</center>
                                </th>
                                <th>
                                    <center>R1</center>
                                </th>
                                <th>
                                    <center>R2</center>
                                </th>
                            </tr>
                        </thead>
                        <tr>

                            <td>
                                <label class="form-check-label">กิจกรรม 1</label>
                            </td>
                            <td>งานประจำ</td>
                            <td>ภายใน</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>ผลการประเมิน</td>
                        </tr>
                    </table>
                </div>



                <br></br>
                <h4>Inside 2</h4>
                <p></p>

                <div id="table" class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>

                                <th rowspan="2">ประเด็นความเสี่ยง</th>
                                <th colspan="5">
                                    <center>โอกาส</center>
                                </th>
                                <th colspan="2">
                                    <center>ความรุนแรง</center>
                                </th>
                                <th>ผลการประเมิน</th>
                            </tr>
                            <tr>

                                <th>
                                    <center>P1</center>
                                </th>
                                <th>
                                    <center>P2</center>
                                </th>
                                <th>
                                    <center>P3</center>
                                </th>
                                <th>
                                    <center>P4</center>
                                </th>
                                <th>
                                    <center>P5</center>
                                </th>
                                <th>
                                    <center>R1</center>
                                </th>
                                <th>
                                    <center>R2</center>
                                </th>
                            </tr>
                        </thead>
                        <tr>

                            <td>
                                <label class="form-check-label">กิจกรรม 1</label>
                            </td>
                            <td>งานประจำ</td>
                            <td>ภายใน</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>ผลการประเมิน</td>
                        </tr>
                    </table>
                </div>

                <br></br>
                <h4>Inside 3</h4>
                <p></p>

                <div id="table" class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>

                                <th rowspan="2">ประเด็นความเสี่ยง</th>
                                <th colspan="5">
                                    <center>โอกาส</center>
                                </th>
                                <th colspan="2">
                                    <center>ความรุนแรง</center>
                                </th>
                                <th>ผลการประเมิน</th>
                            </tr>
                            <tr>

                                <th>
                                    <center>P1</center>
                                </th>
                                <th>
                                    <center>P2</center>
                                </th>
                                <th>
                                    <center>P3</center>
                                </th>
                                <th>
                                    <center>P4</center>
                                </th>
                                <th>
                                    <center>P5</center>
                                </th>
                                <th>
                                    <center>R1</center>
                                </th>
                                <th>
                                    <center>R2</center>
                                </th>
                            </tr>
                        </thead>
                        <tr>

                            <td>
                                <label class="form-check-label">กิจกรรม 1</label>
                            </td>
                            <td>งานประจำ</td>
                            <td>ภายใน</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>ผลการประเมิน</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br></br>
            <div class="container">
                <center>
                    <h3 class="text-center pt-5">
                        การประเมินความเสี่ยงด้านสิ่งแวดล้อมในกิจกรรมของพื้นที่ภายนอก
                    </h3>
                </center>
                <br></br>
                <h4>Inside 1</h4>
                <p></p>
                <div id="table" class="table-responsive">
                    <table class="table table-striped " id="dynamic_field">
                        <thead>
                            <tr>

                                <th rowspan="2">ประเด็นความเสี่ยง</th>
                                <th colspan="5">
                                    <center>โอกาส</center>
                                </th>
                                <th colspan="2">
                                    <center>ความรุนแรง</center>
                                </th>
                                <th>ผลการประเมิน</th>
                            </tr>
                            <tr>

                                <th>
                                    <center>P1</center>
                                </th>
                                <th>
                                    <center>P2</center>
                                </th>
                                <th>
                                    <center>P3</center>
                                </th>
                                <th>
                                    <center>P4</center>
                                </th>
                                <th>
                                    <center>P5</center>
                                </th>
                                <th>
                                    <center>R1</center>
                                </th>
                                <th>
                                    <center>R2</center>
                                </th>
                            </tr>
                        </thead>
                        <tr>

                            <td>
                                <label class="form-check-label">กิจกรรม 1</label>
                            </td>
                            <td>งานประจำ</td>
                            <td>ภายใน</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>ผลการประเมิน</td>
                        </tr>
                    </table>
                </div>



                <br></br>
                <h4>Inside 2</h4>
                <p></p>

                <div id="table" class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>

                                <th rowspan="2">ประเด็นความเสี่ยง</th>
                                <th colspan="5">
                                    <center>โอกาส</center>
                                </th>
                                <th colspan="2">
                                    <center>ความรุนแรง</center>
                                </th>
                                <th>ผลการประเมิน</th>
                            </tr>
                            <tr>

                                <th>
                                    <center>P1</center>
                                </th>
                                <th>
                                    <center>P2</center>
                                </th>
                                <th>
                                    <center>P3</center>
                                </th>
                                <th>
                                    <center>P4</center>
                                </th>
                                <th>
                                    <center>P5</center>
                                </th>
                                <th>
                                    <center>R1</center>
                                </th>
                                <th>
                                    <center>R2</center>
                                </th>
                            </tr>
                        </thead>
                        <tr>

                            <td>
                                <label class="form-check-label">กิจกรรม 1</label>
                            </td>
                            <td>งานประจำ</td>
                            <td>ภายใน</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>ผลการประเมิน</td>
                        </tr>
                    </table>
                </div>

                <br></br>
                <h4>Inside 3</h4>
                <p></p>

                <div id="table" class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>

                                <th rowspan="2">ประเด็นความเสี่ยง</th>
                                <th colspan="5">
                                    <center>โอกาส</center>
                                </th>
                                <th colspan="2">
                                    <center>ความรุนแรง</center>
                                </th>
                                <th>ผลการประเมิน</th>
                            </tr>
                            <tr>

                                <th>
                                    <center>P1</center>
                                </th>
                                <th>
                                    <center>P2</center>
                                </th>
                                <th>
                                    <center>P3</center>
                                </th>
                                <th>
                                    <center>P4</center>
                                </th>
                                <th>
                                    <center>P5</center>
                                </th>
                                <th>
                                    <center>R1</center>
                                </th>
                                <th>
                                    <center>R2</center>
                                </th>
                            </tr>
                        </thead>
                        <tr>

                            <td>
                                <label class="form-check-label">กิจกรรม 1</label>
                            </td>
                            <td>งานประจำ</td>
                            <td>ภายใน</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>Staff</td>
                            <td>ผลการประเมิน</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br></br>



        </div>
</body>

</html>